.message{
  background-color: rgb(90, 97, 131);
  font-family: sans-serif;
  padding: 20px;
  border-radius: 15px ;
  width: 250px;
  color: white;
  border: 2px rgb(34, 47, 70);
  margin: 15px;
  box-shadow: 0 0 10px rgb(26, 25, 25);
}
.section{
  display: flex;
  flex-direction: column;
}
.message-sent{
  border-bottom-left-radius: 0;
  margin-right: 10%;
  align-self: flex-start;
  background-color: grey;
}
.message-recieved{
  border-bottom-right-radius: 0;
  margin-left: 10%;
  align-self: flex-end;
}
header{
  display:flex;
  padding-left: 20px;
  margin: 60px;
  font-family: sans-serif;
  font-size: 40px;
  box-shadow: 0 0 10px rgb(160, 160, 160);
}
footer{
  margin-top: 10px;
  background-color: rgb(206, 203, 203);
  border-radius: 10px;
  gap: 10px;
}
button{
  border-radius: 40px;
  color: rgb(19, 14, 14);
  background-color: white;
}
input{
border-radius: 10px;
width: 400px;
height: 35px;
background-color: rgb(153, 163, 163);
box-shadow: rgb(68, 64, 64);
flex-grow: inherits;
}
.mg{
  background-color:rgb(243, 227, 183);
  border-radius: 10px;
}
.er{
  align-items;

}